body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.logo img {
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
  font-weight: bold;
}

.navbar-links a {
  color: #333;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar-links a:hover {
  color: #00b657;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 20;
  }

  .navbar-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .about-item {
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .about-item img {
    width: 100%; 
    max-width: 300px;
    height: auto;
    border-radius: 12px;
  }

  .about-item p {
    font-size: 0.8rem; 
    padding: 10px;
    max-width: 90%; 
    color: #555;
  }

  #item2 {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about-content {
    max-width: 100%;
    padding: 20px;
    color: #555;
  }

  .about-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }

  .about-item img {
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
  }

  .about-item p {
    font-size: 1rem;
    max-width: 90%;
    padding: 15px;
  }

  #item2 {
    flex-direction: column-reverse;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slides {
  margin: 0px 50px;
  overflow: auto;
  white-space: nowrap;
}
.slides img {
  margin: 1px;
  width: 100%;
  display: inline-block;
  object-fit: cover;
  border-radius: 10px;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 60px;
  right: 60px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  color: aliceblue;
  font-size: 24px;
}

.slider-controls :hover {
  color: #00b657;
  cursor: pointer;
}

.menu {
  background-color: #f8f8f8;
  padding: 20px 20px;
  text-align: center;
}

.menu-heading {
  font-size: 40px;
  color: #333;
  margin-bottom: 20px;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.item {
  width: 400px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  height: 300px;
}

.item h3 {
  font-size: 1.4rem;
  margin: 10px 0 5px;
}

.item p {
  font-size: 1rem;
  padding: 0 10px 15px;
  color: #333;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px;
}

.footer-links {
  list-style: none;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #00b657;
}

.about {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}

.about-header {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  color: #333;
}

.about-header p {
  font-size: 1.2rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-item {
  border-radius: 12px;
  display: flex;
  gap: 50px;
  padding: 20px;
}

.about-item img {
  width: 500px;
  height: 300px;
  border-radius: 12px;
}

.about-item p {
  font-size: 1.2rem;
  color: #555;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}
